<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385874542596-682sevg2l26firaiuu1319opmk1i8jl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385874542596-682sevg2l26firaiuu1319opmk1i8jl5</string>
	<key>API_KEY</key>
	<string>AIzaSyDmNuCKarH4EIbg5yi066gUIkhJoHiVsSs</string>
	<key>GCM_SENDER_ID</key>
	<string>385874542596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comicNotify</string>
	<key>PROJECT_ID</key>
	<string>comic-notify-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>comic-notify-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385874542596:ios:7fc35245e762b5520ab551</string>
</dict>
</plist>